section>h1,
h2,
h3 {
    margin-bottom: 10px;
}

@media (min-width: 992px) {
    .container {
        max-width: 845px;
    }
}

.highlight>code::selection {
    color: #333;
    background: #edf0f3;
}

.highlight>code>span::selection {
    color: #333;
    background: #edf0f3;
}
