<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

  {{ partial "head.html" . }}

  <!-- RSS Link -->
  <link rel="alternate" type="application/rss+xml" href="{{ .Site.BaseURL }}feed.xml" title="{{ .Site.Title }}" />
  <!-- CSS -->
  <link href="/css/vim.css?v=2" rel="stylesheet" />
  <link href="/css/pico.min.css" rel="stylesheet" />
  <link href="/css/site.css?v=2" rel="stylesheet" />
  <style>
    blockquote>p {
      margin: 0;
    }

    blockquote {
      opacity: 0.7;
    }
  </style>
  <script defer data-domain="blog.pecar.me" src="https://plausible.io/js/script.tagged-events.js"></script>
</head>

<body>
  <header class="container">
    <hgroup>
      <h1><a href="/">{{ .Site.Title }}</a></h1>
      <h2>{{ .Site.Params.tagline }}</h2>
    </hgroup>
  </header>
  <main class="container">{{ block "main" . }}{{ end }}</main>
  <footer class="container" style="padding-top: 0;">
    <p>
      Join the <a href="https://buttondown.com/anze3db" data-umami-event="newsletter"
        class="plausible-event-name=newsletter">💌 Newsletter</a> or subscribe through <a
        href="{{ .Site.BaseURL }}feed.xml" data-umami-event="rss" class="plausible-event-name=rss">RSS</a>.</p>
    <p>Get in touch through <a href="mailto:{{ .Site.Params.email }}" data-umami-event="email"
        class="plausible-event-name=email">Email</a>,
      <a href="https://fosstodon.org/@anze3db" data-umami-event="mastodon" rel="me"
        class="plausible-event-name=mastodon">Mastodon</a>,
      <a href="https://twitter.com/anze3db" data-umami-event="twitter" rel="me"
        class="plausible-event-name=twitter">Twitter</a>, or
      <a href="https://www.linkedin.com/in/an%C5%BEe-pe%C4%8Dar-a98b4033/" data-umami-event="linkedin" rel="me"
        class="plausible-event-name=linkedin">LinkedIn</a>.
    </p>
    <p>
      <a href="https://pecar.me">Home</a> · <a href="https://talks.pecar.me">Talks</a>
    </p>
  </footer>
  <script data-goatcounter="https://blog-pecar.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  <script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
</body>

</html>
