.navbar-inner{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    background-image: none;
    background-color: #0288D1;
}
html,body{
    background-color:#FEFEFE;
    font-family: "Arial";
}

p {
    font-size: 16px;
    line-height: 26px;
}

code{
    color: #111;
}

h1 {
    border-top:0;
    font-size: 40px;
    color: #0288D1 ;
}
h2,a, h1 a{
    color: #0288D1;
}



.shameless_self_promotion{
    font-size: 20px;
    margin: 40px 0;

}

.content{
    box-shadow: none;
    background-color: transparent;
    margin-top: 10px;
}
.navbar{
    margin-bottom:0;
    width: 100%;
    z-index: 999;
}
.navbar .nav{
    margin: 4px 10px 0 0;
}
.navbar .brand{
    font-size: 26px;
    padding: 12px 20px 12px;
}
.tagline{
    line-height:48px;
    color: #fff;
    font-size: 18px;
    display:none;
}
.navbar .nav>li>a {
    font-size: 20px;
    line-height:23px;
    color: white;
}
.middlepic{
    margin:15px auto;
    display:block;
}
