---
---

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <!-- Primary Meta Tags -->
    <title>{{ page.title }}</title>
    <!-- CSS -->
    <link href="/assets/css/pico.min.css" rel="stylesheet" />
  </head>

  <body>
    <div style="text-align: center; /* border: 1px solid red; */ width: 630px; height: 330px; vertical-align: middle;">
      <h1 style="padding: 80px 50px 0px 50px; margin-bottom: 20px;"><a href="/">{{ page.title }}</a></h1></h1>
      <!-- <div>{{ page.date | date_to_string }}</div> -->
      blog.pecar.me</a><h1 style="text-decoration: underline;"></h1>
  </div>
  </body>
</html>


