---
theme:
name: twitter
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}" />

  <meta name="twitter:creator" content="@anze3db" />
  <meta name="twitter:title" content="{{ page.title }}" />

  <meta property="og:url" content="{{site.url }}{{ page.url }}" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.description }}" />
  {% if page.image %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="{{site.url }}/{{ page.image }}" />
  <meta property="og:image" content="{{site.url }}/{{ page.image }}" />
  {% else %}
  <meta name="twitter:card" content="summary" />
  <meta property="og:image" content="{{site.url }}/assets/me.jpg" />
  {% endif %}
  <meta name="author" content="{{ site.author.name }}" />
  <link rel="alternate" type="application/rss+xml" href="{{ production_url }}/feed.xml" title="{{ site.title }}" />
  <link href="/assets/css/vim.css?v=2" rel="stylesheet" />
  <link href="/assets/css/pico.min.css" rel="stylesheet" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
</head>

<body>
  <header class="container">
    <hgroup>
      <h1><a href="/">{{ site.title }}</a></h1>
      <h2>{{ site.tagline }}</h2>
    </hgroup>
  </header>
  <main class="container">{{ content }}</main>
  <footer class="container" style="padding-top: 0;">
    <a href="https://anze3db.ck.page/5c13115fd9">Newsletter</a> • <a
      href="{{ site.production_url }}/feed.xml">RSS</a><br>
    <a href="mailto:{{ site.author.email }}">Email</a> •
    <a href="https://github.com/anze3db" rel="me">GitHub</a> •
    <a href="https://fosstodon.org/@anze3db" rel="me">Mastodon</a> •
    <a href="https://twitter.com/anze3db" rel="me">Twitter</a> •
    <a href="https://www.linkedin.com/in/an%C5%BEe-pe%C4%8Dar-a98b4033/" rel="me">LinkedIn</a>
  </footer>
</body>

</html>
