---
theme :
  name : twitter
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/vim.css" rel="stylesheet">
    <link href="/assets/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/site.css" rel="stylesheet">
  </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">{{ site.title }}</a> <div class="tagline">{{site.tagline}}</div>
          <ul class="nav">
            <li><a href="https://pecar.me/">Contact me</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="content">
        {{ content }}
      </div>
    </div> <!-- /container -->
  </body>
</html>
