---
layout: default
---

<span>{{ page.date | date_to_string }}</span>
<h1>{{ page.title }}</h1>
<section>{{ content }}</section>
<script>
    document.querySelectorAll('h1,h2,h3,h4,h5,h6').forEach(function (heading) {
        if (heading.id) {
            heading.innerHTML =
                '<a style="color: var(--h1-color);" href="#' + heading.id + '" class="header-link">' + heading.innerText + '<\/a>';
        }
    });
</script>

<article>
<h4>Enjoyed the read or have a different perspective?</h4>
Let me know on <a href="https://twitter.com/anze3db">Twitter</a>, <a href="https://fosstodon.org/@anze3db">Mastodon</a>, or <a href="mailto: anze@pecar.me">email</a>. 🩵
</article>
